<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a>
        <mat-icon>lock_open</mat-icon>
        Login
      </a>
      <a [routerLink]="['/']" mat-button>
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a>
        <mat-icon>lock</mat-icon>
        Logout
      </a>
      <a (click)="drawer.toggle()" mat-button>
        <mat-icon>close</mat-icon>
        Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div>
        <a [routerLink]="['/basic-tasks']" mat-button>
          <mat-icon>home</mat-icon>
          Home
        </a>
        <ng-template #anonymousUser>
          <a (click)="authService.googleLogin()" mat-button>
            <mat-icon>lock_open</mat-icon>
            Login
          </a>
        </ng-template>
        <a *ngIf="user$ | async as user; else anonymousUser" (click)="authService.signOut()" mat-button>
          <mat-icon>lock</mat-icon>
          Logout
        </a>
        <a *ngIf="user$ | async as user" mat-button>
          <mat-icon>face</mat-icon>
          Welcome {{user.displayName}}
        </a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
