<div [class.task-complete.container]="!toggleButton" class="container task-area">
  <div *ngIf="tasksOptions.variant === 'right'" class="app-container">
    <p class="task-content">{{givenNum}} + {{whenNum}} = ?</p>
    <hr>
  </div>
  <div *ngIf="tasksOptions.variant === 'center'" class="app-container">
    <p class="task-content">{{givenNum}} + ? = {{resultNum}}</p>
    <hr>
  </div>
  <div *ngIf="tasksOptions.variant === 'left'" class="app-container">
    <p class="task-content">? + {{whenNum}} = {{resultNum}}</p>
    <hr>
  </div>
  <div class="check-answer">
    <form class="form-group task-form">
        <mat-form-field class="input-full-width">
          <mat-label>Answer</mat-label>
            <input
              matInput
              name="userInput"
              [(ngModel)]="userNumber"
              type="number"
            >
        </mat-form-field>
      <div class="input-full-width">
        <button
          mat-raised-button color="primary"
          style="margin-left: 7px"
          [disabled]="!toggleButton"
          (click)="addAnswer()"
          type="submit"
        >++ Add ++
        </button>
      </div>
    </form>
    <hr>
    <div class="">
    </div>

  </div>
</div>
