.setup-area{
  width: 100%;
  height: 10%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  white-space: nowrap
}


.setup-container{
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 3%;
}

.button-container {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.setup-option{
  margin: 10%;
}

