<div class="container">
  <div class="pick-quantity">
    <h1>Please select number of tasks:</h1>
  </div>

  <div class="row quantity-options">
    <button class="quantity-option" mat-raised-button color="primary" (click)="updateTasksQuantity(4)">4</button>
    <button class="quantity-option" mat-raised-button color="primary" (click)="updateTasksQuantity(10)">10</button>
    <button class="quantity-option" mat-raised-button color="primary"(click)="updateTasksQuantity(20)">20</button>
  </div>
  <div class="row">
    <div class="col-6">
      <ng-container *ngFor="let i of [].constructor(taskQuantity / 2)">
        <basic-add-tasks (solution)="updateRecord($event)"></basic-add-tasks>
      </ng-container>
    </div>
    <div class="col-6">
      <ng-container *ngFor="let i of [].constructor(taskQuantity / 2)">
        <basic-add-tasks (solution)="updateRecord($event)"></basic-add-tasks>
      </ng-container>
    </div>
  </div>
</div>

