.setup-area{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 5%;

  min-height: 100vh;
  padding: 5%;
}


.setup-container{
  width: 20%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding: 3%;
}

.button-container {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.setup-option{
  margin: 15%;
  padding: 3%;
  display: flex;
  justify-content: center;
}

.setup-text{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 5%;
  margin: 2%;
}

