<div class="container">
  <div class="container">
    <mat-toolbar>
      <span class="spacer"></span>
      <span>Set up</span>
      <span class="spacer"></span>
    </mat-toolbar>
  </div>
  <div class="setup-area">
    <div class="setup-container">
      <h2>How many tasks?</h2>
      <div class="button-container">
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateQuantity(4)">
            4
          </button>
        </div>
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateQuantity(10)">
            10
          </button>
        </div>
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateQuantity(20)">
            20
          </button>
        </div>
      </div>
    </div>
    <div class="setup-container">
      <h2>Maximum range</h2>
      <div class="button-container">
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateRange(10)">
            10
          </button>
        </div>
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateRange(20)">
            20
          </button>
        </div>
      </div>
    </div>
    <div class="setup-container">
      <h2>Question mark</h2>
      <div class="button-container">
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateVariant('left')">
            left
          </button>
        </div>
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateVariant('center')">
            center
          </button>
        </div>
        <div class="setup-option">
          <button mat-fab color="accent" (click)="updateVariant('right')">
            right
          </button>
        </div>
      </div>
    </div>
    <div class="setup-container">
      <h3>{{tasksOptions | json}}</h3>
      <button mat-raised-button color="primary" style="margin-left: 7px">START</button>
    </div>
  </div>

  <ng-container class="container">
    <div class="row">
      <div class="col-6">
        <ng-container *ngFor="let i of [].constructor(tasksOptions['quantity'] / 2)">
          <basic-add-tasks [tasksOptions]="tasksOptions" (solution)="updateRecord($event)"></basic-add-tasks>
        </ng-container>
      </div>
      <div class="col-6">
        <ng-container *ngFor="let i of [].constructor(tasksOptions['quantity'] / 2)">
          <basic-add-tasks (solution)="updateRecord($event)"></basic-add-tasks>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <!--  <ng-container #afterStart>-->
  <!--    <div class="row">-->
  <!--      <div class="col-4">-->
  <!--        <ng-container *ngFor="let i of [].constructor(taskQuantity / 2)">-->
  <!--          <basic-add-tasks (solution)="updateRecord($event)"></basic-add-tasks>-->
  <!--        </ng-container>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--        <ng-container *ngFor="let i of [].constructor(taskQuantity / 2)">-->
  <!--          <basic-add-tasks (solution)="updateRecord($event)"></basic-add-tasks>-->
  <!--        </ng-container>-->
  <!--      </div>-->
  <!--      <div class="col-4">-->
  <!--        {{completeSolution.length}}-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-container>-->

</div>

